<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chapter</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        window.onload = function() {
    
        function onClick() {
            document.querySelector('.modal_wrap').style.display ='block';
            document.querySelector('.black_bg').style.display ='block';
        }   
        function offClick() {
            document.querySelector('.modal_wrap').style.display ='none';
            document.querySelector('.black_bg').style.display ='none';
        }
    
        document.getElementById('modal_btn').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);
    
    };
    </script>
</head>
<body>
    <div class="logout_box">
        <button type='button' id="modal_btn">log out</button>
        <div class="black_bg"></div>
        <div class="modal_wrap">
            <div class="modal_close"><a href="#">close</a></div>
            <div>
                you want to log out?
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>
            </div>
        </div>
    </div>

    <div id="re_chap">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" formaction="../chapter">chapter</button>
        </form>
    </div>

    <div class="chapter_container">
        <div class="chapter_header">{{user.get_username}}님 환영합니다!</div>
        <form method="POST">
            {% csrf_token %}
            <div class="chapterbox">
                <div class="chap_line">
                    <button type="submit" class="chap_LV" name="lv1" value="1" formaction="/chap_sentence"> LV. {{ chap_detail.InnerChapOne }} </button>
                
                    <button type="submit" class="chap_LV" name="lv2" value="2" formaction="/chap_sentence2"> LV. {{ chap_detail.InnerChapTwo }} </button>
                    <!-- disabled="disabled" -->
                </div>
            </div>
        </form>
        <form action="/LV1clear" method="post">
            {% csrf_token %}
            <button type="submit">폭죽 ㄱㄱ?</button>
        </form>
    </div>
</body>
</html>


