<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login_container">
        <div class="login_header">
            MM-up
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        
        <div class="loginbox">
            <form id = "log_in" action = "{% url 'chapter' %}" method="POST">
                {% csrf_token %}
                <select name="trans_lang_option">
                    <option value="vi">vietnam</option>
                    <option value="zh-CN">chinese</option>
                    <option value="en">English</option>
                </select>

                <input 
                    id = "user_id_input"
                    name = "userid"
                    placeholder="Please enter your ID." 
                    type="text"
                />
                <input
                    id ="user_pw_input"
                    name = "password"
                    placeholder = "Please enter a password."
                    type="password"
                />
                <div class="button">
                    <button type = "submit" id = "log_enter">Log-in</button>
                    <button type = "submit" id = "sign_up" formaction="/sign_up">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>